/********** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {

    /* colors */
    --main-color: #0065FC;
    --lightblue:#DEEBFF;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

    /* fonts */
    --bold-font-weight: 700;
    --regular-font-weight:400;

}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

h1{
    font-size: 22px;
    font-weight: var(--bold-font-weight);
    padding-bottom: 8px;
}

h2{
    font-size: 18px;
    font-weight: var(--bold-font-weight);
}

h3{
    font-size: 16px;
    font-weight: var(--bold-font-weight);
}
p{
    font-size: 16px ;
    font-weight: var(--regular-font-weight);
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****** Header |&| Nav ***********/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 79px;
}
.logo{
    display: flex;
    width: 61px;
    height: 19px;
}
nav ul{
    display: flex;
}

nav ul li{
    margin-left: 68px;
    padding: 16px 0px;
}
nav ul li:hover {
    color: var(--main-color);
    border-top: 1px solid var(--main-color);
}

/****** Search section ***********/

.search-bar {
    display: flex;
    align-items: center;
    margin:35px 0px;
}

.fa-solid.fa-location-dot {
    color: black;
    padding: 16.5px;
    background: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

.search-input {
    width: 236px;
    padding: 16.5px;
    border: 1px solid var(--main-bg-color);
    border-right: none;
}

::placeholder{
    color: var(--black);
    font-weight: var(--bold-font-weight);
    font-size: 18px;
}

.search-btn span {
    color: #fff;
    font-size: 18px;
 
}

.search-btn {
    padding: 13.5px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0px 15px 15px 0px;
    transform: translateX(-10px);
    cursor: pointer;
}

.fa-solid.fa-magnifying-glass {
    display: none;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Footer ***********/



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }


}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}